<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" parallel="false">

    <test name="TempMail Tests">
        <classes>
            <class name="TempMail.CopyEmailTest"/>
            <class name="TempMail.VerifyLogo"/>
            <class name="TempMail.VerifyLanguageTest"/>
        </classes>
    </test>

</suite>
